/* ~/.config/wofi/style.css */
#window {
    background-color: #282a36;
    border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 14px;
}

#input {
    background-color: #44475a;
    color: #f8f8f2;
    border: 1px solid #6272a4;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

#outer-box {
    padding: 10px;
}

#entry:selected {
    background-color: #6272a4;
    color: #f8f8f2;
    border-radius: 5px;
}

#text {
    color: #f8f8f2;
}

#entry {
    padding: 5px;
}
